@font-face {
  font-family: 'GothamPro';
  src: url("/assets/fonts/gothampro.ttf");
}

@font-face {
  font-family: 'SFProB';
  src: url("/assets/fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: 'TTHoves';
  src: local("TTHoves"), url("../fonts/TTHoves-ExtraBold.ttf") format("truetype"), url("../fonts/TTHoves-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: local("TTHoves"), url("../fonts/TTHoves-DemiBold.ttf") format("truetype"), url("../fonts/TTHoves-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: local("TTHoves"), url("../fonts/TTHoves-ExtraBold.ttf") format("truetype"), url("../fonts/TTHoves-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: local("TTHoves"), url("../fonts/TTHoves-Medium.ttf") format("truetype"), url("../fonts/TTHoves-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: local("TTHoves"), url("../fonts/TTHoves-Regular.ttf") format("truetype"), url("../fonts/TTHoves-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "TTHoves", Arial, serif;
}

.body {
  font-size: 16px;
}

@media (max-width: 1280px) {
  .body {
    font-size: 14px;
  }
}

.logo {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url("data:image/svg+xml;utf8, <svg width='70' height='45' viewBox='0 0 70 45'  fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.0408694 16.7913C0.464547 22.5686 4.47768 27.1973 12.0803 30.6772C21.1988 20.5193 34.9739 10.2937 53.4055 0C40.7182 5.25532 28.4481 11.9174 16.5949 19.9867C12.4253 16.473 10.6889 13.6455 11.3857 11.5039C12.3565 8.63248 14.71 7.78027 18.4469 8.94744C16.0418 8.5961 14.7734 9.01741 14.6412 10.2113C14.5289 10.9891 14.9886 11.4569 15.4918 11.7932C16.3525 12.3685 17.4686 12.4438 19.2856 12.2591C20.9651 12.1007 22.3638 12.6429 23.4818 13.8858C24.0753 14.2038 24.3742 13.8939 24.3789 12.9562C25.3768 12.9938 26.0134 12.926 26.289 12.753C21.7345 9.9246 18.5317 7.65853 16.6811 5.95502C15.2049 4.88988 17.4069 4.02144 17.5 3.73932C10.6063 2.84002 6.2856 4.83316 4.67123 7.20424C1.26586 10.0439 -0.277672 13.2396 0.0408694 16.7913Z' fill='rgb(240, 121, 126)'/><path fill-rule='evenodd' clip-rule='evenodd' d='M51.2587 13.0037C40.944 15.1555 26.5517 24.0352 8.08203 39.6427C25.7361 20.1533 40.3975 9.46191 52.0687 7.57094C61.2434 6.42837 67.1856 9.33331 69.8953 16.2862C70.8359 21.9909 65.4727 28.1109 53.8051 34.6462C46.4982 38.9498 40.5561 42.3584 35.9785 44.8718C29.7131 42.2374 23.9253 39.0612 18.615 35.3432C32.2639 24.7646 41.5246 19.458 46.3968 19.4236C49.5211 18.9208 51.2478 19.9859 51.577 22.6189C51.4786 24.1728 50.5912 25.3928 48.9147 26.2795C49.1412 24.1259 48.2922 22.7315 46.3679 22.0961C43.3125 21.5538 41.3446 22.3671 40.4644 24.5362C38.8345 28.8629 37.4455 31.3904 36.297 32.1185C34.2007 33.1506 33.3229 34.0803 33.6636 34.9074C34.0939 36.0025 34.4895 36.6416 34.8502 36.8247C35.4211 36.0122 35.9516 35.5087 36.4418 35.3141C36.877 35.7025 36.4044 36.5836 35.0237 37.9578C35.6139 38.4982 36.3758 38.4593 37.3099 37.8415C46.6815 31.7668 52.7781 27.9322 55.5997 26.3374C56.4683 25.9309 57.4715 26.4054 58.6094 27.7609C58.8523 26.1391 59.026 24.1638 59.1301 21.835C61.42 17.6981 61.6128 14.9093 59.7088 13.4685C57.1212 12.2197 54.3044 12.0647 51.2587 13.0037Z' fill='rgb(249, 249, 249)'/></svg>");
}

.logo_about {
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url("data:image/svg+xml;utf8, <svg width='70' height='45' viewBox='0 0 70 45'  fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.0408694 16.7913C0.464547 22.5686 4.47768 27.1973 12.0803 30.6772C21.1988 20.5193 34.9739 10.2937 53.4055 0C40.7182 5.25532 28.4481 11.9174 16.5949 19.9867C12.4253 16.473 10.6889 13.6455 11.3857 11.5039C12.3565 8.63248 14.71 7.78027 18.4469 8.94744C16.0418 8.5961 14.7734 9.01741 14.6412 10.2113C14.5289 10.9891 14.9886 11.4569 15.4918 11.7932C16.3525 12.3685 17.4686 12.4438 19.2856 12.2591C20.9651 12.1007 22.3638 12.6429 23.4818 13.8858C24.0753 14.2038 24.3742 13.8939 24.3789 12.9562C25.3768 12.9938 26.0134 12.926 26.289 12.753C21.7345 9.9246 18.5317 7.65853 16.6811 5.95502C15.2049 4.88988 17.4069 4.02144 17.5 3.73932C10.6063 2.84002 6.2856 4.83316 4.67123 7.20424C1.26586 10.0439 -0.277672 13.2396 0.0408694 16.7913Z' fill='rgb(240, 121, 126)'/><path fill-rule='evenodd' clip-rule='evenodd' d='M51.2587 13.0037C40.944 15.1555 26.5517 24.0352 8.08203 39.6427C25.7361 20.1533 40.3975 9.46191 52.0687 7.57094C61.2434 6.42837 67.1856 9.33331 69.8953 16.2862C70.8359 21.9909 65.4727 28.1109 53.8051 34.6462C46.4982 38.9498 40.5561 42.3584 35.9785 44.8718C29.7131 42.2374 23.9253 39.0612 18.615 35.3432C32.2639 24.7646 41.5246 19.458 46.3968 19.4236C49.5211 18.9208 51.2478 19.9859 51.577 22.6189C51.4786 24.1728 50.5912 25.3928 48.9147 26.2795C49.1412 24.1259 48.2922 22.7315 46.3679 22.0961C43.3125 21.5538 41.3446 22.3671 40.4644 24.5362C38.8345 28.8629 37.4455 31.3904 36.297 32.1185C34.2007 33.1506 33.3229 34.0803 33.6636 34.9074C34.0939 36.0025 34.4895 36.6416 34.8502 36.8247C35.4211 36.0122 35.9516 35.5087 36.4418 35.3141C36.877 35.7025 36.4044 36.5836 35.0237 37.9578C35.6139 38.4982 36.3758 38.4593 37.3099 37.8415C46.6815 31.7668 52.7781 27.9322 55.5997 26.3374C56.4683 25.9309 57.4715 26.4054 58.6094 27.7609C58.8523 26.1391 59.026 24.1638 59.1301 21.835C61.42 17.6981 61.6128 14.9093 59.7088 13.4685C57.1212 12.2197 54.3044 12.0647 51.2587 13.0037Z' fill='rgb(249, 249, 249)'/></svg>");
}

.logo_black {
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url("data:image/svg+xml;utf8, <svg width='70' height='45' viewBox='0 0 70 45'  fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.0408694 16.7913C0.464547 22.5686 4.47768 27.1973 12.0803 30.6772C21.1988 20.5193 34.9739 10.2937 53.4055 0C40.7182 5.25532 28.4481 11.9174 16.5949 19.9867C12.4253 16.473 10.6889 13.6455 11.3857 11.5039C12.3565 8.63248 14.71 7.78027 18.4469 8.94744C16.0418 8.5961 14.7734 9.01741 14.6412 10.2113C14.5289 10.9891 14.9886 11.4569 15.4918 11.7932C16.3525 12.3685 17.4686 12.4438 19.2856 12.2591C20.9651 12.1007 22.3638 12.6429 23.4818 13.8858C24.0753 14.2038 24.3742 13.8939 24.3789 12.9562C25.3768 12.9938 26.0134 12.926 26.289 12.753C21.7345 9.9246 18.5317 7.65853 16.6811 5.95502C15.2049 4.88988 17.4069 4.02144 17.5 3.73932C10.6063 2.84002 6.2856 4.83316 4.67123 7.20424C1.26586 10.0439 -0.277672 13.2396 0.0408694 16.7913Z' fill='rgb(50, 73, 94)'/><path fill-rule='evenodd' clip-rule='evenodd' d='M51.2587 13.0037C40.944 15.1555 26.5517 24.0352 8.08203 39.6427C25.7361 20.1533 40.3975 9.46191 52.0687 7.57094C61.2434 6.42837 67.1856 9.33331 69.8953 16.2862C70.8359 21.9909 65.4727 28.1109 53.8051 34.6462C46.4982 38.9498 40.5561 42.3584 35.9785 44.8718C29.7131 42.2374 23.9253 39.0612 18.615 35.3432C32.2639 24.7646 41.5246 19.458 46.3968 19.4236C49.5211 18.9208 51.2478 19.9859 51.577 22.6189C51.4786 24.1728 50.5912 25.3928 48.9147 26.2795C49.1412 24.1259 48.2922 22.7315 46.3679 22.0961C43.3125 21.5538 41.3446 22.3671 40.4644 24.5362C38.8345 28.8629 37.4455 31.3904 36.297 32.1185C34.2007 33.1506 33.3229 34.0803 33.6636 34.9074C34.0939 36.0025 34.4895 36.6416 34.8502 36.8247C35.4211 36.0122 35.9516 35.5087 36.4418 35.3141C36.877 35.7025 36.4044 36.5836 35.0237 37.9578C35.6139 38.4982 36.3758 38.4593 37.3099 37.8415C46.6815 31.7668 52.7781 27.9322 55.5997 26.3374C56.4683 25.9309 57.4715 26.4054 58.6094 27.7609C58.8523 26.1391 59.026 24.1638 59.1301 21.835C61.42 17.6981 61.6128 14.9093 59.7088 13.4685C57.1212 12.2197 54.3044 12.0647 51.2587 13.0037Z' fill='rgb(249, 249, 249)'/></svg>");
}

.logo_usluga {
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url("data:image/svg+xml;utf8, <svg width='70' height='45' viewBox='0 0 70 45'  fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0.0408694 16.7913C0.464547 22.5686 4.47768 27.1973 12.0803 30.6772C21.1988 20.5193 34.9739 10.2937 53.4055 0C40.7182 5.25532 28.4481 11.9174 16.5949 19.9867C12.4253 16.473 10.6889 13.6455 11.3857 11.5039C12.3565 8.63248 14.71 7.78027 18.4469 8.94744C16.0418 8.5961 14.7734 9.01741 14.6412 10.2113C14.5289 10.9891 14.9886 11.4569 15.4918 11.7932C16.3525 12.3685 17.4686 12.4438 19.2856 12.2591C20.9651 12.1007 22.3638 12.6429 23.4818 13.8858C24.0753 14.2038 24.3742 13.8939 24.3789 12.9562C25.3768 12.9938 26.0134 12.926 26.289 12.753C21.7345 9.9246 18.5317 7.65853 16.6811 5.95502C15.2049 4.88988 17.4069 4.02144 17.5 3.73932C10.6063 2.84002 6.2856 4.83316 4.67123 7.20424C1.26586 10.0439 -0.277672 13.2396 0.0408694 16.7913Z' fill='rgb(50, 73, 94)'/><path fill-rule='evenodd' clip-rule='evenodd' d='M51.2587 13.0037C40.944 15.1555 26.5517 24.0352 8.08203 39.6427C25.7361 20.1533 40.3975 9.46191 52.0687 7.57094C61.2434 6.42837 67.1856 9.33331 69.8953 16.2862C70.8359 21.9909 65.4727 28.1109 53.8051 34.6462C46.4982 38.9498 40.5561 42.3584 35.9785 44.8718C29.7131 42.2374 23.9253 39.0612 18.615 35.3432C32.2639 24.7646 41.5246 19.458 46.3968 19.4236C49.5211 18.9208 51.2478 19.9859 51.577 22.6189C51.4786 24.1728 50.5912 25.3928 48.9147 26.2795C49.1412 24.1259 48.2922 22.7315 46.3679 22.0961C43.3125 21.5538 41.3446 22.3671 40.4644 24.5362C38.8345 28.8629 37.4455 31.3904 36.297 32.1185C34.2007 33.1506 33.3229 34.0803 33.6636 34.9074C34.0939 36.0025 34.4895 36.6416 34.8502 36.8247C35.4211 36.0122 35.9516 35.5087 36.4418 35.3141C36.877 35.7025 36.4044 36.5836 35.0237 37.9578C35.6139 38.4982 36.3758 38.4593 37.3099 37.8415C46.6815 31.7668 52.7781 27.9322 55.5997 26.3374C56.4683 25.9309 57.4715 26.4054 58.6094 27.7609C58.8523 26.1391 59.026 24.1638 59.1301 21.835C61.42 17.6981 61.6128 14.9093 59.7088 13.4685C57.1212 12.2197 54.3044 12.0647 51.2587 13.0037Z' fill='rgb(240, 121, 126)'/></svg>");
}

.main-title {
  font-family: "TTHoves", Arial, serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3.5rem;
}

@media (max-width: 1025px) {
  .main-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .main-title {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  .main-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
  .main-title {
    font-size: 1.2rem;
  }
}

.sub-title {
  font-family: "TTHoves", Arial, serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0.5em 20px;
}

@media (max-width: 1280px) {
  .sub-title {
    font-size: 2rem;
  }
}

@media (max-width: 1025px) {
  .sub-title {
    font-size: 1.8rem;
  }
}

@media (max-width: 375px) {
  .sub-title {
    font-size: 7vw;
  }
}

.small-title {
  font-size: 1.2rem;
  font-weight: 800;
}

.logo-title {
  font-size: 40px;
  color: #f9f9f9;
  text-decoration: none;
}

.logo-title:hover {
  font-size: 42px;
  color: #f9f9f9;
  text-decoration: none;
}

@media (max-width: 375px) {
  .logo-title {
    font-size: 30px;
  }
  .logo-title:hover {
    font-size: 32px;
  }
}

.logo-title_dark {
  font-size: 40px;
  color: #32495e;
  text-decoration: none;
}

.logo-title_dark:hover {
  font-size: 42px;
  color: #32495e;
  text-decoration: none;
}

@media (max-width: 375px) {
  .logo-title_dark {
    font-size: 30px;
  }
  .logo-title_dark:hover {
    font-size: 32px;
  }
}

.header-menu__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10vw;
  right: 10vw;
}

.navbar__index:last-child {
  margin-right: 50px;
}

.header-menu__button {
  margin-right: 50px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .header__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.cardio-block {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background: url(/assets/img/header_img/cardio_main.png) bottom left no-repeat;
  background-color: #f0797e;
}

@media screen and (max-width: 1025px) {
  .cardio-block {
    width: 100%;
  }
}

.header__text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.header__text .header__title {
  font-family: "TTHoves", Arial, serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #f9f9f9;
  font-style: normal;
  font-weight: 700;
}

.header__text .header__title .title__link {
  text-decoration: none;
}

.header__text .header__discription {
  max-width: 220px;
  margin-top: 50px;
  margin-bottom: 30px;
  font-style: 14px;
  font-weight: 600px;
}

.header__text .header__services {
  font-size: 14px;
  line-height: 17px;
}

.header__text .header__services .services-item__link {
  text-decoration: none;
  color: #32495e;
}

.header__text .header__services .services-item__link:last-child {
  margin-bottom: 0px;
}

.header__text .header__services .services-item__link .services-item {
  margin-bottom: 12px;
  list-style-type: circle;
}

.text_cardio {
  margin-bottom: 50px;
  text-align: right;
  align-items: end;
  padding-right: 10%;
  color: #f9f9f9;
}

.text_cardio .title__link_cardio {
  color: #f9f9f9;
  max-width: 100vw;
}

.text_cardio .title__link_cardio:hover {
  color: #32495e;
}

.text_cardio .header__services_cardio {
  direction: rtl;
  float: right;
}

.text_cardio .header__services_cardio .services-item__link {
  text-decoration: none;
  color: #f9f9f9;
}

.text_cardio .header__services_cardio .services-item_cardio:hover {
  color: #32495e;
}

.text_cardio .button__position {
  display: flex;
  justify-content: center;
}

.text_cardio .common__button:hover {
  border: 1px solid #32495e;
  background: #32495e;
  transition: 0.9s ease-out;
  color: #f9f9f9;
}

.text_cardio .button__text {
  text-decoration: none;
  color: #f9f9f9;
}

.trauma-block {
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  background: url(/assets/img/header_img/trauma_main.png) bottom right no-repeat;
}

@media screen and (max-width: 1025px) {
  .trauma-block {
    max-height: 100%;
    width: 100vw;
    background-size: 40%;
  }
}

.text_trauma {
  padding-left: 10%;
  align-items: start;
  text-align: left;
  color: #32495e;
}

.title__link_trauma {
  color: #32495e;
}

.title__link_trauma:hover {
  color: #f0797e;
}

.link_common {
  text-decoration: none;
}

.link_common:hover {
  text-decoration: none;
}

.services-item_trauma:hover {
  color: #f0797e;
}

.text_trauma .button__position {
  display: flex;
  justify-content: center;
}

.common__button_dark {
  border: 1px solid #32495e;
  color: #f9f9f9;
}

.button__text {
  text-decoration: none;
  color: #32495e;
}

.services-item__link_cardio {
  color: #f9f9f9;
  text-decoration: none;
}

.services-item__link_cardio:hover {
  text-decoration: none;
  color: #32495e;
}

.services-item__link_cardio:last-child {
  margin-bottom: 0px;
}

.services-item__link_cardio .services-item {
  margin-bottom: 12px;
  list-style-type: circle;
}

footer {
  display: flex;
  background-color: #333333;
  color: #f9f9f9;
  font-style: normal;
  width: 100vw;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}

footer .footer__text {
  font-family: "TTHoves", Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f9f9f9;
}

footer .footer__text .footer__up__text {
  transform: rotate(-90deg);
}

footer .footer__title {
  font-family: "TTHoves", Arial, serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #f9f9f9;
}

footer .footer__contacts {
  display: flex;
  width: 60vw;
  justify-content: space-between;
}

footer .footer__contacts .footer__contacts__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .footer__up__background {
  background-color: #f0797e;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common__button {
  width: 160px;
  height: 50px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 30px;
  transition: 0.9s ease-out;
}

.common__button:hover {
  border: 1px solid #f0797e;
  background: #f0797e;
  transition: 0.9s ease-out;
  color: #f9f9f9;
}

.common__button_light {
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
}

.common__button_dark {
  border: 1px solid #32495e;
  color: #32495e;
}

.button__text {
  text-decoration: none;
}

.button__position {
  display: flex;
  justify-content: center;
}

.container-about {
  max-width: 80vw;
}

.body_about {
  color: #f9f9f9;
  background-color: #32495e;
}

.header-about {
  position: relative;
  display: flex;
  min-height: 30vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header-about {
    min-height: 50vw;
  }
}

@media screen and (max-width: 375px) {
  .header-about {
    min-height: 60vw;
  }
}

.header-about__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -2;
}

.header-about__container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}

.header-about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(0deg, rgba(50, 73, 94, 0.8), rgba(50, 73, 94, 0.8));
}

.navbar-brand_about {
  height: 100px;
  display: flex;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.dropdown-item_about {
  display: block;
  color: #32495e;
  text-decoration: none;
  width: 100%;
  text-align: inherit;
  padding: 0.25rem 1rem;
  white-space: nowrap;
}

.dropdown-item_about:hover {
  color: #f9f9f9;
  background-color: #32495e;
}

.dropdown-item_about:active {
  background-color: #f0797e;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    background-color: rgba(249, 249, 249, 0.8);
  }
}

@media screen and (max-width: 991px) {
  .nav-link_about {
    padding: 5px;
  }
  .nav-link_about:hover {
    background-color: rgba(50, 73, 94, 0.8);
  }
}

.about-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "i1 c1" "c2 i2";
  color: #f9f9f9;
}

@media screen and (max-width: 1025px) {
  .about-blocks {
    grid-template-areas: "i1" "c1" "i2" "c2";
  }
}

.about-blocks__img:nth-of-type(1) {
  grid-area: i1;
}

.about-blocks__img:nth-of-type(2) {
  grid-area: i2;
}

.about-blocks__card:nth-of-type(1) {
  grid-area: c1;
}

.about-blocks__card:nth-of-type(2) {
  grid-area: c2;
}

.about-blocks__img {
  width: 100%;
  height: 100%;
}

.card-information {
  background-color: #32495e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-information > :nth-child(n) {
  padding: 20px 10vw;
}

.card-information__footer {
  background-color: #0e2942;
  min-height: 30%;
  display: flex;
  align-items: center;
}

.advantages {
  background-color: #32495e;
  color: #f9f9f9;
  padding: 2em 0px;
}

.sub-title_advantages {
  color: #8093ac;
  margin-left: 10vw;
}

.list-with-circle {
  margin: 30px 10vw;
  padding: 0px;
  list-style-type: none;
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 1025px) {
  .list-with-circle {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10vw;
  }
}

.card-with-circle__img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.card-with-circle_advantage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 45%;
}

@media screen and (max-width: 768px) {
  .card-with-circle_advantage {
    flex: 0 1 100%;
  }
}

.card-with-circle__text_advantage {
  text-align: center;
  margin: 0px;
}

.news {
  background-color: #f9f9f9;
  padding: 10vw 0px;
}

.news .sub-title {
  color: #32495e;
  margin-left: 10vw;
}

.services {
  padding: 5vw 0px;
  background-color: #32495e;
  color: #f9f9f9;
}

.services .sub-title {
  margin-left: 10vw;
}

.list-blocks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10vw;
  column-gap: 2em;
  padding: 0px;
}

@media screen and (max-width: 1280px) {
  .list-blocks {
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 30px;
  }
}

.list-blocks__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 1 45%;
  height: 450px;
}

.list-blocks__element:hover .description {
  animation: show-animate 2s;
  max-height: 60%;
  background-color: #f0797e;
  will-change: all;
  transition: all 2s ease-out;
}

.list-blocks__element:hover .description__title {
  color: #f9f9f9;
  transition: all 0.3s ease-in;
}

.list-blocks__element:hover .description__text {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s ease-in;
  will-change: transform;
}

.list-blocks__element:hover .description__link {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-in;
  will-change: transform;
}

@media screen and (max-width: 768px) {
  .list-blocks__element {
    flex: 0 1 100%;
  }
}

.list-blocks__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  width: 100%;
  max-height: 30%;
  overflow: hidden;
  will-change: all;
  transition: all 3s ease-in;
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.description_news {
  background-color: #f9f9f9;
}

.description_service {
  background-color: #32495e;
}

.description__title {
  transition: all 3s ease-in;
}

.description__title_news {
  color: #32495e;
}

.description__title_service {
  color: #f9f9f9;
}

.description__text {
  opacity: 0;
  visibility: hidden;
  color: #f9f9f9;
  transition: all 2s ease-in;
}

.description__link {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in;
  color: #f9f9f9;
  text-decoration: none;
}

.description__link:hover {
  color: #f9f9f9;
  font-weight: bold;
}

@keyframes fadeInFromNone {
  0% {
    color: #f9f9f9;
    opacity: 0;
  }
  99% {
    color: #f9f9f9;
    will-change: transform;
    opacity: 0;
  }
  100% {
    color: #f9f9f9;
    will-change: transform;
    opacity: 1;
  }
}

.ourstuff__title {
  background: #32495e;
  color: #f9f9f9;
  line-height: 52px;
  margin-bottom: 50px;
  padding-left: 115px;
  line-height: 52px;
  margin-top: 70px;
}

.ourstuff__title .sub-title {
  padding-left: 9vw;
}

.ourstuff__body {
  margin-left: 155px;
  margin-right: 115px;
  color: #32495e;
  padding: 2rem 10vw;
}

.card {
  margin-bottom: 50px;
  margin-right: 68px;
  border: none;
}

.card__image {
  height: 98px;
  width: 98px;
  margin-bottom: 30px;
}

.btn-outline-info {
  width: 160px;
  height: 50px;
  border-radius: 30px;
  color: #32495e;
  border-color: #32495e;
}

.btn-outline-info:hover {
  background-color: #32495e;
  color: white;
  border-color: #32495e;
}

.price-list {
  background-image: url("/assets/img/pricelist_images/Group_104.jpg");
  background-size: cover;
  padding: 2rem 10vw;
}

.price-list__title {
  weight: 800;
  font-size: 44px;
  color: #32495e;
  line-height: 52px;
  margin-bottom: 20px;
  padding-left: 155px;
  font-family: TT Hoves;
}

.price-list__body {
  margin-left: 155px;
  color: #32495e;
  width: 100%;
  margin-bottom: 40px;
}

.price-list__subtitle {
  margin-bottom: 50px;
  color: #32495e;
  line-height: 17px;
}

.price-list__price {
  font-weight: bolder;
  margin-bottom: 40px;
}

.btn-read-all {
  width: 160px;
  height: 50px;
  border-radius: 30px;
  color: #32495e;
  border-color: #32495e;
  margin-top: 50px;
}

.btn-read-all:hover {
  background-color: #32495e;
  color: white;
  border-color: #32495e;
}

.qanda {
  background-color: #32495e;
}

.qanda__container {
  padding: 2rem 10vw;
}

.qanda .sub-title {
  padding-left: 9vw;
}

.qanda__title {
  background-color: #8093ac;
  height: 68px;
  color: #f9f9f9;
  font-family: TT Hoves;
}

.qanda__body {
  margin-top: 64px;
  margin-left: 115px;
  color: #f9f9f9;
}

.qanda__body-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-check {
  margin-bottom: 20px;
}

.form-check-label {
  padding-right: 178px;
  font-weight: bolder;
}

.form-check-input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: url("./../assets/img/qanda_images/Component.png");
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.form-check-input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: url("./../assets/img/qanda_images/Componentred.png");
  display: inline-block;
  visibility: visible;
}

.qanda__body-answer {
  padding-right: 115px;
}

.qanda__body-answer-title {
  margin-bottom: 20px;
}

.recomendation {
  width: 80vw;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.recomendation__text {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #32495e;
}

@media screen and (max-width: 1560px) {
  .recomendation__text {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .recomendation__text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .recomendation__text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.recomendation__items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .recomendation__items {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .recomendation__items {
    padding-bottom: 20px;
  }
}

.recomendation__items .recomendation__item .recomendation_img {
  width: 100%;
  height: 100%;
}

.contacts {
  width: 80vw;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.contacts__text {
  color: #32495e;
}

@media screen and (max-width: 1560px) {
  .contacts__text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .contacts__text {
    margin-bottom: 10px;
  }
}

.image-map {
  width: 100%;
  height: 100%;
}

.contacts__items {
  color: #32495e;
  color: #32495e;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .contacts__items {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 375px) {
  .contacts__items {
    margin-bottom: 20px;
  }
}

.contacts__discription {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-top: 40px;
}

@media screen and (max-width: 1280px) {
  .contacts__discription {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__discription {
    margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .contacts__discription {
    margin-top: 10px;
  }
}

.address {
  max-width: 210px;
  margin-right: 60px;
}

@media screen and (max-width: 1280px) {
  .address {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .address {
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .address {
    margin-right: 10px;
  }
}

.telephone {
  max-width: 210px;
  margin-right: 60px;
}

@media screen and (max-width: 1280px) {
  .telephone {
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .telephone {
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .telephone {
    margin-right: 10px;
  }
}

.alternative {
  max-width: 260px;
}

.address__title, .telephone__title, .alternative__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1560px) {
  .address__title, .telephone__title, .alternative__title {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .address__title, .telephone__title, .alternative__title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .address__title, .telephone__title, .alternative__title {
    margin-bottom: 5px;
  }
}

.address, .telephone, .alternative {
  margin-bottom: 10px;
}

.social {
  position: fixed;
  z-index: 20;
  right: calc(10vw - 25px * 4);
  margin: auto;
  top: calc(30vw - 25px - 10px);
}

@media screen and (max-width: 768px) {
  .social {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .social {
    right: calc(10vw - 25px * 2);
  }
}

.social__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  flex-direction: row-reverse;
}

.social__position_elements {
  margin-right: calc(-25px * 2);
  padding-right: calc(25px * 2);
  height: calc(25px * 2 + 25px * 2);
}

.social-all {
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
  opacity: 0;
  transform-origin: right center;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 25;
}

.transform-active {
  opacity: 1;
  transform: translateX(0%);
}

.btn-social {
  height: calc(25px * 2);
  width: calc(25px * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  border-radius: 50%;
  border: #f9f9f9 1px solid;
  transition: .2s ease-out;
}

.btn-social_all {
  box-shadow: 0px 0px 0px 5px rgba(240, 121, 126, 0.3);
  background-color: #f0797e;
  width: calc(25px * 2);
  height: calc(25px * 2);
  margin: 25px;
  z-index: 30;
}

.btn-social_all:hover {
  box-shadow: 0px 0px 0px 15px rgba(240, 121, 126, 0.3);
}

.btn-social_chat {
  box-shadow: 0px 0px 0px 5px rgba(20, 172, 81, 0.3);
  background-color: #14ac51;
}

.btn-social_chat:hover {
  box-shadow: 0px 0px 0px 15px rgba(20, 172, 81, 0.3);
}

.btn-social_mail {
  box-shadow: 0px 0px 0px 5px rgba(69, 152, 255, 0.3);
  background-color: #4598ff;
}

.btn-social_mail:hover {
  box-shadow: 0px 0px 0px 15px rgba(69, 152, 255, 0.3);
}

.btn-social_phone {
  box-shadow: 0px 0px 0px 5px rgba(250, 176, 37, 0.3);
  background-color: #fab025;
}

.btn-social_phone:hover {
  box-shadow: 0px 0px 0px 15px rgba(250, 176, 37, 0.3);
}

.btn-social_inst {
  box-shadow: 0px 0px 0px 5px rgba(194, 86, 138, 0.3);
  background-color: #c2568a;
}

.btn-social_inst:hover {
  box-shadow: 0px 0px 0px 15px rgba(194, 86, 138, 0.3);
}

.btn-social__icon {
  background-color: transparent;
}

.qanda {
  background-color: #32495e;
}

.qanda__container {
  padding: 2rem 10vw;
}

.qanda .sub-title {
  padding-left: 9vw;
}

.qanda__title {
  background-color: #8093ac;
  height: 68px;
  color: #f9f9f9;
  font-family: TT Hoves;
}

.qanda__body {
  margin-top: 64px;
  margin-left: 115px;
  color: #f9f9f9;
}

.qanda__body-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-check {
  margin-bottom: 20px;
}

.form-check-label {
  padding-right: 178px;
  font-weight: bolder;
}

.form-check-input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: url("./../assets/img/qanda_images/Component.png");
  display: inline-block;
  visibility: visible;
  cursor: pointer;
}

.form-check-input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: url("./../assets/img/qanda_images/Componentred.png");
  display: inline-block;
  visibility: visible;
}

.qanda__body-answer {
  padding-right: 115px;
}

.qanda__body-answer-title {
  margin-bottom: 20px;
}

.gallery-title {
  font-family: "TTHoves", Arial, serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 44px;
  color: #f9f9f9;
  margin-bottom: 20px;
}

.gallery {
  background-image: url("/assets/img/Gallery/gallery-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 7.2rem;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .gallery {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    padding: 1rem;
  }
}

.gallery-nav-item {
  color: #f9f9f9;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 14px;
}

.gallery-nav-item:hover {
  color: #f9f9f9;
  border-bottom: 1px solid red;
}

.row_gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.image-button {
  border-radius: 54px;
  background-color: #32495e;
  opacity: 0.6;
  width: 159px;
  height: 60px;
  margin: auto;
  color: #f9f9f9;
}

.gallery-button {
  border-radius: 54px;
  background-color: #32495e;
  width: 159px;
  height: 60px;
  margin: auto;
  background-color: transparent;
  color: #f9f9f9;
}

.image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-content_video {
  position: absolute;
  bottom: 22px;
  left: 20px;
}

.image-content_text {
  position: absolute;
  bottom: 22px;
  left: 20px;
}

.image {
  opacity: 0.6;
  position: relative;
}

.image:hover {
  opacity: 1;
}

.image1 {
  width: 100%;
  height: 100%;
}

.image-no-bg {
  opacity: 1;
}

.image-text {
  color: #f9f9f9;
  font-size: 16px;
  padding-right: 2vw;
  margin-top: 11px;
}

.header-stuff {
  background-image: url(/assets/img/header_img/stuff_header.png);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 393px;
  width: auto;
  overflow: visible;
}

@media screen and (max-width: 1200px) {
  .header-stuff {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .header-stuff {
    height: auto;
  }
}

.header_stuff-full_container {
  font-family: "TTHoves", Arial, serif;
  font-size: 2rem;
  padding: 15px 115px 60px 115px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "menu-stuff menu-stuff" "title-stuff title-stuff";
}

@media screen and (max-width: 1200px) {
  .header_stuff-full_container {
    padding: 15px 50px 30px 50px;
  }
}

@media screen and (max-width: 600px) {
  .header_stuff-full_container {
    padding: 15px 40px 0px 40px;
  }
}

.menu_stuff-full {
  grid-area: menu-stuff;
}

.main-title_stuff-full {
  grid-area: title-stuff;
}

.nav-item {
  font-family: "TTHoves", Arial, serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f9f9f9;
}

.main-title {
  font-family: "TTHoves", Arial, serif;
  font-size: 50px;
  color: #f9f9f9;
}

@media screen and (max-width: 1200px) {
  .main-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main-title {
    font-size: 25px;
  }
}

.row_stuff-full {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 7.2rem;
}

@media screen and (max-width: 1200px) {
  .row_stuff-full {
    padding: 40px 7rem;
  }
}

@media screen and (max-width: 600px) {
  .row_stuff-full {
    padding: 40px 2rem;
  }
}

.column_stuff-full {
  flex: 25%;
  max-width: 25%;
  padding-left: 0px;
  padding-right: 50px;
}

@media screen and (max-width: 1200px) {
  .column_stuff-full {
    flex: 50%;
    max-width: 50%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .column_stuff-full {
    flex: 100%;
    max-width: 100%;
    padding-right: 0px;
  }
}

.card__title {
  font-family: "TTHoves", Arial, serif;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.card__image {
  height: 98px;
  width: 98px;
  margin-bottom: 30px;
  margin: 0px 10px 30px 10px;
}

.card__text {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  margin-bottom: 50px;
  margin-right: 20px;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  color: rgba(255, 255, 255, 0.25);
}

.trauma-block_big {
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  margin-bottom: 10%;
  background: url(/assets/img/header_img/bg_usluga_1.png) bottom right no-repeat;
}

@media screen and (max-width: 1025px) {
  .trauma-block_big {
    max-height: 100%;
    width: 100vw;
    background-size: 40%;
  }
}

.text_trauma {
  padding-left: 10%;
  align-items: start;
  text-align: left;
  color: #32495e;
}

.title__link_trauma {
  color: #32495e;
}

.title__link_trauma:hover {
  color: #f0797e;
}

.header__title {
  text-decoration: none;
}

.services-item_trauma:hover {
  color: #f0797e;
}

.header__discription_big {
  max-width: 460px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.navbar_white {
  color: #f9f9f9;
}

.cardio-block_big {
  width: 100vw;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10%;
  background: url(/assets/img/header_img/bg_usluga_2.png) bottom right no-repeat;
  background-color: #f0797e;
}

@media screen and (max-width: 1025px) {
  .cardio-block_big {
    max-height: 100%;
    width: 100vw;
    background-size: 40%;
  }
}

.cardio-block_big .text_cardio {
  padding-left: 10%;
  align-items: start;
  text-align: left;
  color: #f9f9f9;
}
/*# sourceMappingURL=main.css.map */