.price-list {
  background-image: url(../pricelist_images/Group_104.jpg);
  background-size: cover;
}

.price-list__title {
  color: #32495e;
  line-height: 52px;
  margin-bottom: 20px;
  margin-left: 115px;
  margin-top: 70px;
}

.price-list__body {
  margin-left: 115px;
  color: #32495e;
  width: 100%;
}

.price-list__subtitle {
  margin-bottom: 50px;
  color: #32495e;
  line-height: 17px;
}

.price-list__price {
  font-weight: bolder;
}

.btn-read-all {
  width: 188px;
  height: 50px;
  border-radius: 15px;
  color: #32495e;
  border-color: #32495e;
  margin-top: 50px;
}

.btn-read-all:hover {
  background-color: #32495e;
  color: white;
  border-color: #32495e;
}
