.qanda {
    background-color: #32495E;
}

.qanda__title {
    margin-top: 60px;
    background-color: #8093AC;
    height: 68px;
    color: white;
    font-family: 'TTHoves';
    font-weight: 800;

}

.qanda__body {
    margin-top: 64px;
    margin-left: 68px;
    color:white;
}

.form-check {
    margin-bottom: 20px;
}

.form-check-label {
    font-weight: bolder;
}

.form-check-input[type='radio']:after {
    
    top: -2px;
    left: -1px;
    position: relative;
    content:url("/assets/img/qanda_images/Component.png");
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    
}

.form-check-input[type='radio']:checked:after {
   
    top: -2px;
    left: -1px;
    position: relative;
    content:url("/assets/img/qanda_images/Componentred.png");
    display: inline-block;
    visibility: visible;
    cursor: pointer;
}
.qanda__body-answer {
    padding-right: 115px;
}
.qanda__body-answer-title {
    margin-bottom: 20px;
}