.common__button {
    width: 160px;
    height: 50px;
    background: transparent;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid $color-light;
    box-sizing: border-box;
    border-radius: 30px;

    transition: 0.9s ease-out;


    &:hover {
        border: 1px solid $color-acent;
        background: $color-acent;
        transition: 0.9s ease-out;


        color: $color-light;

    }


}

.button__text {
    color: $color-light;
    text-decoration: none;
}

.button__position {
    display: flex;
    justify-content: center;
}