footer {
    display: flex;
    background-color: #333333;
    color: $white;
    font-style: normal;
    width: 100vw;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: space-between;

    .footer__text {
        font-family: $default-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $white;
    }

    .footer__title {
        font-family: $default-font;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: $white;
    }

    .footer__contacts {
        display: flex;
        justify-content: space-between;

        .footer__contacts__block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .footer__contacts__block_logo {}

            .footer__contacts__block_nav {}

            .footer__contacts__block_info {}
        }
    }

    .footer__up__text {
        transform: rotate(-90deg);
    }

    .footer__up__background {
        background-color: $coral;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}