.news {
    background-color: $color-light;
    padding: $gutter-ab 0px;

    .sub-title {
        color: $color-dark;
        margin-left: $gutter-ab;
    }
}

.services {
    padding: $gutter-ab/2 0px;

    .sub-title {
        margin-left: $gutter-ab;
    }
}

.list-blocks {

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px $gutter-ab;
    column-gap: 2em;
    padding: 0px;

    @media screen and (max-width:$big-tablet) {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 30px;
    }


}

.list-blocks__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 1 45%;
    height: 450px;

    &:hover {

        .description {
            animation: show-animate 2s;
            max-height: 60%;
            background-color: $color-acent;
            will-change: all;
            transition: all 2s ease-out;



        }

        .description__title {
            color: $color-light;
            transition: all 0.3s ease-in;
        }


        .description__text {

            opacity: 1;
            visibility: visible;

            transition: opacity 2s ease-in;

            will-change: transform;

        }

        .description__link {

            opacity: 1;
            visibility: visible;


            transition: opacity 3s ease-in;

            will-change: transform;
        }
    }

    @media screen and (max-width: $tablet) {

        flex: 0 1 100%;
    }
}



.list-blocks__img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.description {


    width: 100%;
    max-height: 20%;
    overflow: hidden;
    will-change: all;
    transition: all 3s ease-in;


    position: absolute;
    bottom: 0;
    padding: 20px;

}

.description_news {
    background-color: $color-light;
}

.description_service {
    background-color: $color-dark;
}


.description__title {

    transition: all 3s ease-in;
}

.description__title_news {
    color: $color-dark;
}

.description__title_service {
    color: $color-light;
}


.description__text {

    opacity: 0;
    visibility: hidden;

    color: $color-light;
    transition: all 2s ease-in;

}

.description__link {

    opacity: 0;
    visibility: hidden;


    transition: all 1s ease-in;
    color: $color-light;
    text-decoration: none;

    &:hover {
        color: $color-light;
        font-weight: bold;
    }
}


@keyframes fadeInFromNone {
    0% {

        color: $color-light;
        opacity: 0;
    }

    99% {

        color: $color-light;
        will-change: transform;
        opacity: 0;
    }

    100% {

        color: $color-light;
        will-change: transform;
        opacity: 1;
    }
}