.ourstuff__title {
    background: rgba(50, 73, 94, 1);
    color: white;
    padding-left: 115px;
    line-height: 52px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: TT Hoves;
}

.ourstuff__body {
    margin-left: 115px;
    margin-right: 115px;
    color: rgba(50, 73, 94, 1);
}

.card {
    margin-bottom: 50px;
    margin-right: 68px;
    border: none;

&__image {
    height: 98px;
    width: 98px;
    margin-bottom: 30px;
}
}

.btn-outline-info {
    width: 160px;
    height: 50px;
    border-radius: 15px;
    color: rgba(50, 73, 94, 1);
    border-color: rgba(50, 73, 94, 1);

    &:hover {
        background-color: rgba(50, 73, 94, 1);
        color: white;
        border-color: rgba(50, 73, 94, 1);;
    }
}

