.price-list {
    background-image: url("/assets/img/pricelist_images/Group_104.jpg");
    background-size: cover;

&__title {
    weight: 800;
    font-size: 44px;
    color: rgba(50, 73, 94, 1);
    line-height: 52px;
    margin-bottom: 20px;
    margin-left: 115px;
    margin-top: 70px;
    font-family: TT Hoves;
}

&__body {
    margin-left: 115px;
    color: rgba(50, 73, 94, 1);
    width: 100%;
}
&__subtitle {
    margin-bottom: 50px;
    color: rgba(50, 73, 94, 1);
    line-height: 17px;
}
&__price {
    font-weight: bolder;
}
}

.btn-read-all {
    width: 188px;
    height: 50px;
    border-radius: 15px;
    color: rgba(50, 73, 94, 1);
    border-color: rgba(50, 73, 94, 1);
    margin-top: 50px;

&:hover {
    background-color: rgba(50, 73, 94, 1);
    color: white;
    border-color: rgba(50, 73, 94, 1);;
}
}




