.qanda {
  background-color: $color-dark;
  &__container {
    padding: 2rem $gutter-ab;
  }
  .sub-title {
    padding-left: 9vw;
  }
  &__title {
    background-color: $color-midle;

    height: 68px;
    color: $color-light;
    font-family: TT Hoves;
  }

  &__body {
    margin-top: 64px;
    margin-left: 115px;
    color: $color-light;
  }
  &__body-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.form-check {
  margin-bottom: 20px;

  &-label {
    padding-right: 178px;
    font-weight: bolder;
  }

  &-input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: url("./../assets/img/qanda_images/Component.png");
    display: inline-block;
    visibility: visible;
    cursor: pointer;
  }

  &-input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: url("./../assets/img/qanda_images/Componentred.png");
    display: inline-block;
    visibility: visible;
  }
}

.qanda__body-answer {
  padding-right: 115px;

  &-title {
    margin-bottom: 20px;
  }
}
