:root {
    font-family: $default-font;
}

.logo {
    height: 100px;
    @include logoMix($color-acent, $color-light);
}

//TODO replace px to em  or rem
.main-title {
    @include titles;
    font-size: 50px;

}


.sub-title {
    @include titles;
    font-size: 44px;
    margin: 20px 0px;
}

.small-title {
    font-size: 16px;
    font-weight: 800;
}