body {
    font-family: $default-font;
    font-size: $text;
}

.logo {
    height: 100px;
    @include logoMix($color-acent, $color-light);
}

//TODO replace px to em  or rem
.main-title {
    @include titles;
    font-size: 50px;

    @media (max-width:$big-tablet) {
        font-size: 30px;
    }

    @media (max-width:$tablet) {
        font-size: 20px;
    }

    @media (max-width:$mobile) {
        font-size: 15px;
    }
}


.sub-title {
    @include titles;
    font-size: 44px;
    margin: 0.5em 0px;

    // @media (max-width:$tablet) {
    //     font-size: 22px;
    // }

    @media (max-width: $desktop) {
        font-size: 35px;
    }

    @media (max-width: $big-tablet) {
        font-size: 25px;
    }

}

.small-title {
    font-size: 18px;
    font-weight: 800;

    @media (max-width:$big-tablet) {
        font-size: 16px;
    }
}