.logo {
    height: 100px;
    @include logoMix($color-acent, $color-light);
}

//TODO replace px to em  or rem
.main-title {
    @include titles;
    font-size: 50px;
}

.sub-title {
    @include titles;
    font-size: 44px;
}