// colors
// $coral:#E95258;
$coral:#F0797E;
$dark-grey:#32495E;
$light-grey:#8093AC;
$white:#F9F9F9;
$dark-blue:#0E2942;
$dark:#333333;

// names of colors 
$color-acent:$coral;
$color-dark:$dark-grey;
$color-acent-dark:$dark-blue;


$color-light:$white;
$color-midle:$light-grey;

$color-black:$dark;

$mobile:375px;
$tablet:768px;
$big-tablet:1025px;
$desktop:1280px;
$large-desktop:1560px;

$text:14px;