@import './fonts';
@import './vars';
@import './mixins';
@import './mixins';
@import './typography';
@import './blocks/header';
@import './blocks/footer';
@import './blocks/button';
@import './blocks/about';
@import './blocks/newsblock';
@import './blocks/ourstuff';
@import './blocks/pricelist';
@import './blocks/qanda';
@import './blocks/recomendation&contacts';
@import './blocks/social';
@import './blocks/qanda';
@import './blocks/gallery';
@import './blocks/stuff-full';
@import './blocks/usluga_1';
@import './blocks/usluga_2';